doctype html
head
    title SIM - paper and pencil game online
    link(rel='stylesheet' href='/static/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
#player-select
    button.playerA(onclick="login('playerA')") Player A
    button.playerB(onclick="login('playerB')") Player B
    button.spectator(onclick="login('spectator')") Spectator
#main(style='display: none;')
    .moves
        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='isolation:isolate' viewbox='0 0 800 600' width='800' height='600')
            defs
                clippath#_clipPath_sMrnyeAOqWuYvpUaiQWsk2Nk75Slf9Hz
                    rect(width='800' height='600')
            g(clip-path='url(#_clipPath_sMrnyeAOqWuYvpUaiQWsk2Nk75Slf9Hz)')
                polygon#hexagon(points='546.091,553.036,253.909,553.036,107.819,300,253.909,46.964,546.091,46.964,692.181,300')
                g
                    path(rel='0' d='M 255.988 46.964 L 544.012 46.964 C 545.159 46.964 546.091 47.895 546.091 49.042 L 546.091 53.922 C 546.091 55.069 545.159 56 544.012 56 L 255.988 56 C 254.841 56 253.909 55.069 253.909 53.922 L 253.909 49.042 C 253.909 47.895 254.841 46.964 255.988 46.964 Z')
                g
                    path(rel='1' d='M 683.051 302.718 L 539.039 53.282 C 538.466 52.288 538.807 51.016 539.8 50.443 L 544.026 48.003 C 545.019 47.429 546.291 47.77 546.865 48.763 L 690.877 298.2 C 691.451 299.193 691.11 300.466 690.117 301.039 L 685.891 303.479 C 684.897 304.053 683.625 303.712 683.051 302.718 Z')
                g
                    path(rel='2' d='M 539.039 546.718 L 683.051 297.282 C 683.625 296.288 684.897 295.947 685.891 296.521 L 690.117 298.961 C 691.11 299.534 691.451 300.807 690.877 301.8 L 546.865 551.237 C 546.291 552.23 545.019 552.571 544.026 551.997 L 539.8 549.557 C 538.807 548.984 538.466 547.712 539.039 546.718 Z')
                g
                    path(rel='3' d='M 255.988 544 L 544.012 544 C 545.159 544 546.091 544.931 546.091 546.078 L 546.091 550.958 C 546.091 552.105 545.159 553.036 544.012 553.036 L 255.988 553.036 C 254.841 553.036 253.909 552.105 253.909 550.958 L 253.909 546.078 C 253.909 544.931 254.841 544 255.988 544 Z')
                g
                    path(rel='4' d='M 252.87 551.237 L 108.858 301.8 C 108.284 300.807 108.625 299.534 109.619 298.961 L 113.845 296.521 C 114.838 295.947 116.11 296.288 116.684 297.282 L 260.696 546.718 C 261.269 547.712 260.929 548.984 259.935 549.557 L 255.709 551.997 C 254.716 552.571 253.444 552.23 252.87 551.237 Z')
                g
                    path(rel='5' d='M 108.858 298.2 L 252.87 48.763 C 253.444 47.77 254.716 47.429 255.709 48.003 L 259.935 50.443 C 260.929 51.016 261.269 52.288 260.696 53.282 L 116.684 302.718 C 116.11 303.712 114.838 304.053 113.845 303.479 L 109.619 301.039 C 108.625 300.466 108.284 299.193 108.858 298.2 Z')
                g
                    path(rel='6' d='M 258.353 49.672 L 686.278 293.962 C 687.203 294.49 687.525 295.67 686.997 296.595 L 684.43 301.091 C 683.902 302.016 682.723 302.338 681.798 301.81 L 253.873 57.52 C 252.948 56.992 252.625 55.812 253.153 54.887 L 255.72 50.391 C 256.248 49.466 257.428 49.144 258.353 49.672 Z')
                g
                    path(rel='7' d='M 540.878 548.527 L 254.949 53.282 C 254.375 52.288 254.716 51.016 255.709 50.443 L 259.935 48.003 C 260.929 47.429 262.201 47.77 262.774 48.763 L 548.704 544.008 C 549.278 545.002 548.937 546.274 547.943 546.848 L 543.717 549.287 C 542.724 549.861 541.452 549.52 540.878 548.527 Z')
                g
                    path(rel='8' d='M 253.909 547.764 L 253.909 52.236 C 253.909 51.089 254.841 50.157 255.988 50.157 L 260.867 50.157 C 262.015 50.157 262.946 51.089 262.946 52.236 L 262.946 547.764 C 262.946 548.911 262.015 549.843 260.867 549.843 L 255.988 549.843 C 254.841 549.843 253.909 548.911 253.909 547.764 Z')
                g
                    path(rel='9' d='M 537.054 547.764 L 537.054 52.236 C 537.054 51.089 537.985 50.157 539.133 50.157 L 544.012 50.157 C 545.159 50.157 546.091 51.089 546.091 52.236 L 546.091 547.764 C 546.091 548.911 545.159 549.843 544.012 549.843 L 539.133 549.843 C 537.985 549.843 537.054 548.911 537.054 547.764 Z')
                g
                    path(rel='10' d='M 253.177 546.145 L 538.646 50.634 C 539.218 49.64 540.49 49.298 541.484 49.871 L 545.712 52.307 C 546.706 52.879 547.048 54.151 546.476 55.145 L 261.007 550.656 C 260.435 551.65 259.163 551.992 258.169 551.42 L 253.94 548.984 C 252.947 548.411 252.604 547.139 253.177 546.145 Z')
                g
                    path(rel='11' d='M 113.824 295.529 L 540.449 48.976 C 541.371 48.443 542.553 48.759 543.085 49.681 L 545.676 54.163 C 546.209 55.086 545.893 56.267 544.971 56.8 L 118.346 303.353 C 117.424 303.886 116.242 303.57 115.709 302.648 L 113.119 298.166 C 112.586 297.244 112.902 296.062 113.824 295.529 Z')
                g
                    path(rel='12' d='M 255.724 540.435 L 682.349 293.882 C 683.271 293.349 684.452 293.665 684.985 294.587 L 687.576 299.069 C 688.109 299.992 687.793 301.173 686.87 301.706 L 260.246 548.259 C 259.323 548.792 258.142 548.476 257.609 547.554 L 255.019 543.072 C 254.486 542.15 254.802 540.968 255.724 540.435 Z')
                g
                    path(rel='13' d='M 685.756 303.163 L 113.897 303.163 C 112.749 303.163 111.818 302.232 111.818 301.085 L 111.818 296.205 C 111.818 295.058 112.749 294.127 113.897 294.127 L 685.756 294.127 C 686.903 294.127 687.835 295.058 687.835 296.205 L 687.835 301.085 C 687.835 302.232 686.903 303.163 685.756 303.163 Z')
                g
                    path(rel='14' d='M 117.183 297.441 L 545.107 541.731 C 546.032 542.259 546.355 543.438 545.827 544.363 L 543.26 548.859 C 542.732 549.784 541.552 550.107 540.627 549.578 L 112.702 305.288 C 111.778 304.76 111.455 303.581 111.983 302.656 L 114.55 298.16 C 115.078 297.235 116.258 296.913 117.183 297.441 Z')
    ul#messages
    form(action='')
        input#m(autocomplete='off')
        button.playerBg Send
script(src='/socket.io/socket.io.js')
script(src='https://code.jquery.com/jquery-1.11.1.js')
script(src='/static/scripts.js')
